{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br><br>
    <h1>Transférer des Fonds</h1>
    <form method="post" style="display: flex; flex-direction: column;margin-bottom: 30px;background-color: #fff;padding: 20px;border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
        <label for="source_id">Employeur Source:</label>
        <select name="source_id" id="source_id">
            <option value="{{ request.user.employeur.id }}">{{ request.user.employeur }}</option>
        </select><br>
        
        <label for="cible_id">Employeur Cible:</label>
        <select name="cible_id" id="cible_id" required>
            {% for employeur in employeurs %}
            <option value="{{ employeur.id }}">{{ employeur }}</option>
            {% endfor %}
        </select><br>
        
        <label for="operateur">Opérateur:</label>
        <select name="operateur" id="operateur" required>
            <option value="TELMA">Telma</option>
            <option value="ORANGE">Orange</option>
            <option value="AIRTEL">Airtel</option>
        </select><br>
        
        <label for="montant">Montant:</label>
        <input type="number" step="0.01" name="montant" id="montant" required><br>
        
        <button type="submit" class="badge text-white bg-success">Transférer Fonds</button>
    </form>
{% endblock %}