{% extends "base.html" %}
{% load static %}
{% load i18n %} 




{% block content %}
<br><br><br>
<header>
   <h1>Bienvenue <span style="color:blue;">{{ request.user.username }}</span> - Suivez les instructions attentivement</h1>
 </header>
 <br>
<div class="form-group " style="border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
   
   <input type="text" class="form-control" id="searchField" placeholder="Search">

</div>

<div>
   <table class="table table-striped-columns" style="border-radius: 6px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">CATEGORIES</th>
            
            <th scope="col">DESCRIPTIONS</th>
            <th scope="col">'ACTION'</th>
         </tr>
      </thead>
      <tbody id="myTable">
         {% if invoices %}
         {% for facture in invoices %}
         <tr>
            <th scope="row">{{ facture.pk }}</th>
            <td>{{facture.customer.name}}</td>
            
            <td>{{facture.get_invoice_type_display }}</td>
            <td>
               <a href="{% url 'view-invoice' pk=facture.pk %}" title="Detail" class="badge text-white bg-success">voir</a>

            </td>
         </tr>

         {% endfor %}

         {% if invoices.has_other_pages %}

         <div class="btn-group" role="group" aria-label="Item pagination">

            {% if invoices.has_previous %}

            <a href="?page={{ invoices.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>

            {% endif %}

            {% for page_number in invoices.paginator.page_range %}

               {% if invoices.number == page_number %}

                  <button class="btn btn-outline-primary active">
                     <span> {{page_number}} <span class="sr-only">(current)</span></span>

                  </button>

                  {% else %}
                     <a href="?page={{page_number}}" class="btn btn-outline-primary">
                        {{ page_number }}
                     </a>


               {% endif %}   

            {% endfor %}

            {% if invoices.has_next %}

               <a href="?page={{ invoices.next_page_number }}" class="btn btn-outline-primary">&laquo;</a>

            {% endif %}



         </div>

         {% endif %}

         {% else %}
         
         <p class="text-center text-white">{% trans 'No invoice found' %}.</p>
         {% endif %}


      </tbody>

   </table>
</div>

<!-- Modal modifier -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark text-center" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
      </div>
   </div>
</div>
<!-- end modal-->

<!-- Modal suppression -->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">{% trans 'Delete Invoice' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_supprimer" type="hidden" id="id_supprimer">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">{% trans 'Are you sure you want to delete the invoice' %}  ?</strong></label>

               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
               </div>
            </form>
         </div>

      </div>
   </div>
</div>
<!-- end modal-->

<br><br>

<script type="text/javascript">

   // modification

   $(document).on('click', '#btn-invoice-mod', function(){
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_modified').val(invoice_id);

   })

   // deleting of invoice

   $(document).on('click', '#btn-invoice-sup', function(){
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_supprimer').val(invoice_id);

   })



</script>


<script>

   $(document).ready(function(){
      $("#search").on("keyup", function(){
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function(){
            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
         });
      });
   });

</script>



{% endblock %}